<p id="notice"><%= notice %></p>
<div class="box">
  <p class="pull-right">
    <%= link_to 'Edit', edit_user_path(@user) %>    
  </p>
  
  <p>
    <b>Username:</b>
    <%= @user.username %>
  </p>

  <p>
    <b>Nike:</b>
    <%= @user.nike_id %>
  </p>

  <% if @user.team %>
  <p>
    <b>Team:</b>
    <%= @user.team.name %>
  </p>
  <% end %>
</div>