<div class="row">
	<div class="span4">
	</div>
	<div class="span4">
		<h4>Your completed achievements</h4>
		<div class="list">
		<% @achievements.each do |ach| %>
			<p>
				<strong>Achievement</strong>
				<%= ach[:ach].name %>
				|
				<%= ach[:point] %>
				<strong>Points</strong>
				|
				<% if ach[:user].id == current_user.id %>
				<%= link_to 'x', achievement_path(ach[:aid]), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</p>
		<% end %>		
		</div>
		
		<h4>Completed achievements in your team</h4>
		<div class="list">
		<% @team_achievements.each do |ach| %>
			<p>
				<strong>Achievement</strong>
				<br />
				<%= ach[:ach].name %>
				|
				<%= ach[:point] %>
				<strong>Points</strong>
				|
				by
				<%= link_to ach[:user].username, user_path(ach[:user]) %>
			</p>
		<% end %>
		</div>
	</div>
	<div class="span4">
		<h4>Your completed workouts</h4>
		<div class="list">
		<% @workouts.each do |workout| %>
			<p>
				<%= workout.description %>
				-
				<%= link_to workout.workout_date, workout %>
			</p>
		<% end %>
		</div>
		
		<h4>Completed workouts in your team</h4>
		<div class="list">
		<% @team_workouts.each do |workout| %>
			<p>
				<%= workout.description %>
				-
				<%= link_to workout.workout_date, workout %>
				by
				<%= link_to workout.user.username, workout.user %>
			</p>
		<% end %>
		</div>
	</div>
</div>