<div class="row">
	<div class="span4">
		<h3>Tabell för lagen</h3>
		<h4>Antal loggade kilometer</h4>
		<div class="alert alert-info">
			<i class="icon-info-sign"></i> Uppdateras en gång i timmen!
		</div>
		<ol>
			<% @teams.sort_by{|team| [team.average_distance, team.name] }.reverse.each do |team| %>
				<li>
					<a href="<%= url_for team_path team -%>" rel="tooltip" data-original-title="<%= team.users.map{|u| u.username + " (" + ("%.1f" % u.total_distance).to_s + " km)"  }.join("<br/>") -%>"><%= team.name -%></a> - 
					<strong>Snitt:</strong> <%= "%.2f" % team.average_distance -%> km 
					/ <strong>Totalt:</strong> <%= "%.1f" % team.total_distance -%> km
				</li>
			<% end -%>
		</ol>
		<h4>Antal träningstillfällen</h4>
		<ol>
		<% @teams.sort_by{|team| [team.average_workouts, team.name] }.reverse.each do |team|%>
			<li>
				<a href="<%= url_for team_path team -%>" rel="tooltip" data-original-title="<%= team.users.map{|u| u.username + " (" + u.workouts.count.to_s + ")" }.join("<br/>") -%>"><%= team.name -%></a> - 
				<strong>Snitt:</strong> <%= "%.2f" % team.average_workouts -%> 
				/ <strong>Totalt:</strong> <%= team.workouts -%> tillfällen
			</li>
		<% end -%>
		</ol>
		<h4>Achievementspoäng</h4>
		<ol>
			<% @teams.sort_by{|team| [team.average_achievement_points, team.name]}.reverse.each do |team|%>
			<li>
				<a href="<%= url_for team_path team -%>" rel="tooltip" data-original-title="<%= team.users.map{|u| u.username + " (" + u.total_achievement_points.to_s + "p)" }.join("<br/>") -%>"><%= team.name -%></a> - 
				<strong>Snitt:</strong> <%= "%.2f" % team.average_achievement_points -%> 
				/ <strong>Totalt:</strong> <%= team.achievement_points -%> poäng
			</li>
			<% end -%>
		</ol>
		<h4>Total ranking</h4>
		<ol>
			<% @teams.sort_by{|team| [team.total_ranking, team.name]}.each do |team| %>
				<li>
					<a href="<%= url_for team_path team -%>" rel="tooltip" data-original-title="<%= team.users.map{|u| u.username}.join("<br/>") -%>"><%= team.name -%></a> - 
					<strong>Rankingpoäng:</strong> <%= team.total_ranking -%>p
				</li>
			<% end -%>
		</ol>
	</div>
	<div class="span4">
		<h3>Achievements</h3>
		<h4>Dina avklarade achievements</h4>
		<div class="list">
		<% @achievements.each do |ach| %>
			<p>
				<%= ach[:ach].name %>
				|
				<strong><%= ach[:point] %></strong> poäng
				|
				<% if ach[:user].id == current_user.id %>
				<%= link_to 'Radera', achievement_path(ach[:aid]), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</p>
		<% end %>		
		</div>
		
		<h4>Avklarade achievements i ditt team</h4>
		<div class="list">
		<% @team_achievements.each do |ach| %>
			<p>
				<%= ach[:ach].name %>
				|
				<strong><%= ach[:point] %></strong> poäng
				|
				av
				<%= ach[:user].username -%>
			</p>
		<% end %>
		</div>
	</div>
	<div class="span4">
		<h3>Träningstillfällen</h3>
		<h4>Dina träningstillfällen</h4>
		<div class="list">
		<% @workouts.each do |workout| %>
			<p>
				<%= workout.description %>
				-
				<%= link_to workout.workout_date, workout %>
			</p>
		<% end %>
		</div>
		
		<h4>Träningstillfällen i ditt team</h4>
		<div class="list">
		<% @team_workouts.each do |workout| %>
			<p>
				<%= workout.description %>
				-
				<%= link_to workout.workout_date, workout %>
				av
				<%= workout.user.username -%>
			</p>
		<% end %>
		</div>
	</div>
</div>