<% 
if @workout.id 
	url = workout_path
else
	url = workout_index_path
end
%>
<%= form_for(@workout, :url => url) do |f| %>
	<% if @workout.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@workout.errors.count, "error") %> hindrade detta träningstillfälle att sparas:</h2>

			<ul>
			<% @workout.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :workout_date, "Träningsdatum" %>
		<%= f.text_field :workout_date, :class => 'datepicker' %>
	</div>
	<div class="field">
		<%= f.label :description, "Beskrivning" %>
		<%= f.text_field :description %>
	</div>
	<div class="actions">
		<%= f.submit "Spara", :class => "btn" %>
	</div>
<% end %>
