<h3>Achievement</h3>
<div class="row">
  <%= form_for(:achievement, :url => achievements_path) do |f| %>
    <div class="span4">
      <%= collection_select(:achievement, :id, @achievements, :id, :name, {:prompt => true}) %>
      <div id="formTmpl"></div>
    </div>
    <div class="span8" style="display:none">
  </div>
  <% end %>
</div>

<% @achievements.each do |a| %>
  <%= hidden_field :"#{a.id}", :"#{a.name.downcase}", :"data-id" => a.id, :"data-single" => a.is_single_point, :"data-name" => a.name.downcase.underscore %>
<% end %>

<!--
<h1>Listing achievements</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Point</th>
    <th>Is single point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @achievements.each do |achievement| %>
  <tr>
    <td><%= achievement.name %></td>
    <td><%= achievement.point %></td>
    <td><%= achievement.is_single_point %></td>
    <td><%= link_to 'Show', achievement %></td>
    <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
    <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Achievement', new_achievement_path %>
-->