<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @achievement.name %>
</p>

<p>
  <b>Point:</b>
  <%= @achievement.point %>
</p>

<p>
  <b>Is single point:</b>
  <%= @achievement.is_single_point %>
</p>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
